html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(234, 29%, 20%);
}

.container-content {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 900px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
}

.content-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 60px;
}

.content-text h1 {
    text-align: center;
}

.content-topics {
    list-style: none;
}

.content-topics li{
    background-image: url('assets/icon-list.svg');
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding-left: 32px;
    background-position: left center;
    line-height: 24px;
}

.form-area {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.label-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-area.label-area label {
    font-size: 11px;
    font-weight: 700;
}

#error-massage {
    font-size: 11px;
    font-weight: 700;
    color: red;
    display: none;
}

.form-area input {
    height: 48px;
    border-radius: 5px;
    border: 1px solid;
}

.form-area button {
    height: 48px;
    margin-top: 24px;
    border-radius: 5px;
    border: 1px solid;
    background-image: linear-gradient(to right, hsl(345.78deg 100% 66.08%),  hsl(7.71deg 100% 64.9%));
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}

.form-area button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.content-img {
    display: flex;
    align-items: center;
    width: 50%;
}

.content-img img {
    height: 550px;
}

.submit-error {
    border: 1px solid red !important;
    background-color: hsl(0deg 100% 50% / 20%);
}

#success-template {
    display: none;
}

.container-success-content {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
}

.content-text-success {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.content-text-succes h1 {
    font-size: 40px;
}

#success-img {
    width: 60px;
}

#dismiss-message-button {
    height: 48px;
    margin-top: 24px;
    border-radius: 5px;
    border: 1px solid;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}